---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname;
const basePath = import.meta.env.BASE_URL || '/';
const normalizedPathname = pathname.replace(basePath.slice(0, -1), '') || '/';
const subpath = normalizedPathname.split('/').filter(Boolean);
const isActive = href === normalizedPathname || href === '/' + (subpath?.[0] || '');
---

<a 
	href={href} 
	class:list={[
		'flex h-9 w-max items-center justify-center rounded-md bg-white text-primary-600 px-4 py-2 text-md font-medium transition-colors hover:bg-primary-100 hover:text-primary-600 focus:bg-primary-100 focus:text-primary-600 focus:outline-none',
		{ 'bg-primary-100': isActive },
		className
	]} 
	{...props}
>
	<slot />
</a>

<style>
  .text-primary-600 {
    color: #2A85C6;
  }
  .hover\:text-primary-600:hover {
    color: #2A85C6;
  }
  .bg-primary-100 {
    background-color: rgba(42, 133, 198, 0.1);
  }
  .hover\:bg-primary-100:hover {
    background-color: rgba(42, 133, 198, 0.1);
  }
  .focus\:bg-primary-100:focus {
    background-color: rgba(42, 133, 198, 0.1);
  }
</style>