---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex border-b border-primary-100 h-20 w-full shrink-0 items-center px-4 md:px-6">
  <a href="/" class="mr-6 flex items-center">
    <svg 
      class="h-8" 
      width="171"
      height="27"
      viewBox="0 0 171 27"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clipPath="url(#clip0_308_16462)">
        <path
          d="M18.0001 10H16.7401C16.366 8.551 15.5929 7.23599 14.5088 6.2044C13.4246 5.1728 12.0728 4.46599 10.607 4.16428C9.14124 3.86256 7.6202 3.97804 6.21676 4.49759C4.81332 5.01714 3.58375 5.91993 2.66776 7.10338C1.75177 8.28683 1.1861 9.70348 1.03502 11.1924C0.883935 12.6812 1.1535 14.1826 1.81309 15.526C2.47267 16.8693 3.49583 18.0007 4.76629 18.7916C6.03676 19.5824 7.50359 20.0011 9.00011 20H18.0001C19.3262 20 20.598 19.4732 21.5356 18.5355C22.4733 17.5979 23.0001 16.3261 23.0001 15C23.0001 13.6739 22.4733 12.4021 21.5356 11.4645C20.598 10.5268 19.3262 10 18.0001 10Z"
          stroke="#2A85C6"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
      <path
        d="M48.9862 9.43466H45.7987C45.7077 8.91193 45.5401 8.44886 45.2958 8.04545C45.0515 7.63636 44.7475 7.28977 44.3839 7.00568C44.0202 6.72159 43.6055 6.50852 43.1396 6.36648C42.6793 6.21875 42.1822 6.14489 41.6481 6.14489C40.6992 6.14489 39.8583 6.38352 39.1254 6.86079C38.3924 7.33239 37.8185 8.02557 37.4038 8.94034C36.989 9.84943 36.7816 10.9602 36.7816 12.2727C36.7816 13.608 36.989 14.733 37.4038 15.6477C37.8242 16.5568 38.3981 17.2443 39.1254 17.7102C39.8583 18.1705 40.6964 18.4006 41.6396 18.4006C42.1623 18.4006 42.6509 18.3324 43.1055 18.196C43.5657 18.054 43.9776 17.8466 44.3413 17.5739C44.7106 17.3011 45.0202 16.9659 45.2702 16.5682C45.5259 16.1705 45.7021 15.7159 45.7987 15.2045L48.9862 15.2216C48.8668 16.0511 48.6083 16.8295 48.2106 17.5568C47.8185 18.2841 47.3043 18.9261 46.668 19.483C46.0316 20.0341 45.2873 20.4659 44.435 20.7784C43.5827 21.0852 42.6367 21.2386 41.5969 21.2386C40.0629 21.2386 38.6935 20.8835 37.489 20.1733C36.2844 19.4631 35.3356 18.4375 34.6424 17.0966C33.9492 15.7557 33.6026 14.1477 33.6026 12.2727C33.6026 10.392 33.9521 8.78409 34.6509 7.44886C35.3498 6.10795 36.3015 5.08239 37.506 4.37216C38.7106 3.66193 40.0742 3.30682 41.5969 3.30682C42.5685 3.30682 43.4719 3.44318 44.3072 3.71591C45.1424 3.98864 45.8867 4.3892 46.5401 4.91761C47.1935 5.44034 47.7305 6.08239 48.1509 6.84375C48.5771 7.59943 48.8555 8.46307 48.9862 9.43466ZM54.8306 3.54545V21H51.7454V3.54545H54.8306ZM63.7134 21.2557C62.435 21.2557 61.3271 20.9744 60.3896 20.4119C59.4521 19.8494 58.7248 19.0625 58.2077 18.0511C57.6964 17.0398 57.4407 15.858 57.4407 14.5057C57.4407 13.1534 57.6964 11.9687 58.2077 10.9517C58.7248 9.93466 59.4521 9.14489 60.3896 8.58239C61.3271 8.01989 62.435 7.73864 63.7134 7.73864C64.9918 7.73864 66.0998 8.01989 67.0373 8.58239C67.9748 9.14489 68.6992 9.93466 69.2106 10.9517C69.7276 11.9687 69.9862 13.1534 69.9862 14.5057C69.9862 15.858 69.7276 17.0398 69.2106 18.0511C68.6992 19.0625 67.9748 19.8494 67.0373 20.4119C66.0998 20.9744 64.9918 21.2557 63.7134 21.2557ZM63.7305 18.7841C64.4237 18.7841 65.0032 18.5937 65.4691 18.2131C65.935 17.8267 66.2816 17.3097 66.5089 16.6619C66.7418 16.0142 66.8583 15.2926 66.8583 14.4972C66.8583 13.696 66.7418 12.9716 66.5089 12.3239C66.2816 11.6705 65.935 11.1506 65.4691 10.7642C65.0032 10.3778 64.4237 10.1847 63.7305 10.1847C63.0202 10.1847 62.4293 10.3778 61.9577 10.7642C61.4918 11.1506 61.1424 11.6705 60.9094 12.3239C60.6822 12.9716 60.5685 13.696 60.5685 14.4972C60.5685 15.2926 60.6822 16.0142 60.9094 16.6619C61.1424 17.3097 61.4918 17.8267 61.9577 18.2131C62.4293 18.5937 63.0202 18.7841 63.7305 18.7841ZM80.9485 15.4943V7.90909H84.0337V21H81.0423V18.6733H80.9059C80.6104 19.4062 80.1246 20.0057 79.4485 20.4716C78.7781 20.9375 77.9513 21.1705 76.9684 21.1705C76.1104 21.1705 75.3519 20.9801 74.6928 20.5994C74.0394 20.2131 73.5281 19.6534 73.1587 18.9205C72.7894 18.1818 72.6048 17.2898 72.6048 16.2443V7.90909H75.69V15.767C75.69 16.5966 75.9173 17.2557 76.3718 17.7443C76.8263 18.233 77.4229 18.4773 78.1616 18.4773C78.6161 18.4773 79.0565 18.3665 79.4826 18.1449C79.9087 17.9233 80.2582 17.5938 80.5309 17.1562C80.8093 16.7131 80.9485 16.1591 80.9485 15.4943ZM92.0643 21.2301C91.0359 21.2301 90.1154 20.9659 89.3029 20.4375C88.4904 19.9091 87.8484 19.142 87.3768 18.1364C86.9052 17.1307 86.6694 15.9091 86.6694 14.4716C86.6694 13.017 86.908 11.7898 87.3853 10.7898C87.8683 9.78409 88.5188 9.02557 89.337 8.5142C90.1552 7.99716 91.0671 7.73864 92.0728 7.73864C92.8398 7.73864 93.4705 7.86932 93.9648 8.13068C94.4592 8.38636 94.8512 8.69602 95.141 9.05966C95.4308 9.41761 95.6552 9.75568 95.8143 10.0739H95.9421V3.54545H99.0359V21H96.0018V18.9375H95.8143C95.6552 19.2557 95.4251 19.5937 95.1239 19.9517C94.8228 20.304 94.4251 20.6051 93.9308 20.8551C93.4364 21.1051 92.8143 21.2301 92.0643 21.2301ZM92.9251 18.6989C93.5785 18.6989 94.1353 18.5227 94.5955 18.1705C95.0558 17.8125 95.4052 17.3153 95.6438 16.679C95.8825 16.0426 96.0018 15.3011 96.0018 14.4545C96.0018 13.608 95.8825 12.8722 95.6438 12.2472C95.4109 11.6222 95.0643 11.1364 94.604 10.7898C94.1495 10.4432 93.5898 10.2699 92.9251 10.2699C92.2376 10.2699 91.6637 10.4489 91.2035 10.8068C90.7433 11.1648 90.3967 11.6591 90.1637 12.2898C89.9308 12.9205 89.8143 13.642 89.8143 14.4545C89.8143 15.2727 89.9308 16.0028 90.1637 16.6449C90.4023 17.2812 90.7518 17.7841 91.212 18.1534C91.6779 18.517 92.2489 18.6989 92.9251 18.6989Z"
        fill="#2A85C6"
      />
      <path
        d="M104.701 21H101.326L107.471 3.54545H111.375L117.528 21H114.153L109.491 7.125H109.355L104.701 21ZM104.812 14.1562H114.017V16.696H104.812V14.1562ZM124.985 26.1818C123.877 26.1818 122.926 26.0313 122.13 25.7301C121.335 25.4347 120.696 25.0369 120.213 24.5369C119.73 24.0369 119.395 23.483 119.207 22.875L121.985 22.2017C122.11 22.4574 122.292 22.7102 122.531 22.9602C122.77 23.2159 123.091 23.4261 123.494 23.5909C123.903 23.7614 124.417 23.8466 125.037 23.8466C125.912 23.8466 126.636 23.6335 127.21 23.2074C127.784 22.7869 128.071 22.0938 128.071 21.1278V18.6477H127.917C127.758 18.9659 127.525 19.2926 127.218 19.6278C126.917 19.9631 126.517 20.2443 126.017 20.4716C125.522 20.6989 124.9 20.8125 124.15 20.8125C123.145 20.8125 122.233 20.5767 121.414 20.1051C120.602 19.6278 119.954 18.9176 119.471 17.9744C118.994 17.0256 118.755 15.8381 118.755 14.4119C118.755 12.9744 118.994 11.7614 119.471 10.7727C119.954 9.77841 120.605 9.02557 121.423 8.5142C122.241 7.99716 123.153 7.73864 124.159 7.73864C124.926 7.73864 125.556 7.86932 126.051 8.13068C126.551 8.38636 126.949 8.69602 127.244 9.05966C127.539 9.41761 127.764 9.75568 127.917 10.0739H128.088V7.90909H131.13V21.2131C131.13 22.3324 130.863 23.2585 130.329 23.9915C129.795 24.7244 129.065 25.2727 128.139 25.6364C127.213 26 126.162 26.1818 124.985 26.1818ZM125.011 18.392C125.664 18.392 126.221 18.233 126.681 17.9148C127.142 17.5966 127.491 17.1392 127.73 16.5426C127.968 15.946 128.088 15.2301 128.088 14.3949C128.088 13.571 127.968 12.8494 127.73 12.2301C127.497 11.6108 127.15 11.1307 126.69 10.7898C126.235 10.4432 125.676 10.2699 125.011 10.2699C124.324 10.2699 123.75 10.4489 123.289 10.8068C122.829 11.1648 122.483 11.6562 122.25 12.2812C122.017 12.9006 121.9 13.6051 121.9 14.3949C121.9 15.196 122.017 15.8977 122.25 16.5C122.488 17.0966 122.838 17.5625 123.298 17.8977C123.764 18.2273 124.335 18.392 125.011 18.392ZM140.088 21.2557C138.775 21.2557 137.642 20.983 136.687 20.4375C135.738 19.8864 135.008 19.108 134.497 18.1023C133.985 17.0909 133.73 15.9006 133.73 14.5312C133.73 13.1847 133.985 12.0028 134.497 10.9858C135.014 9.96307 135.735 9.16761 136.662 8.59943C137.588 8.02557 138.676 7.73864 139.926 7.73864C140.733 7.73864 141.494 7.86932 142.21 8.13068C142.931 8.38636 143.568 8.78409 144.119 9.32386C144.676 9.86364 145.113 10.5511 145.431 11.3864C145.75 12.2159 145.909 13.2045 145.909 14.3523V15.2983H135.179V13.2188H142.951C142.946 12.6278 142.818 12.1023 142.568 11.642C142.318 11.1761 141.968 10.8097 141.52 10.5426C141.076 10.2756 140.559 10.142 139.968 10.142C139.338 10.142 138.784 10.2955 138.306 10.6023C137.829 10.9034 137.457 11.3011 137.19 11.7955C136.929 12.2841 136.795 12.821 136.789 13.4062V15.2216C136.789 15.983 136.929 16.6364 137.207 17.1818C137.485 17.7216 137.875 18.1364 138.375 18.4261C138.875 18.7102 139.46 18.8523 140.13 18.8523C140.579 18.8523 140.985 18.7898 141.349 18.6648C141.713 18.5341 142.028 18.3438 142.295 18.0938C142.562 17.8438 142.764 17.5341 142.9 17.1648L145.781 17.4886C145.599 18.25 145.252 18.9148 144.741 19.483C144.235 20.0455 143.588 20.483 142.798 20.7955C142.008 21.1023 141.105 21.2557 140.088 21.2557ZM151.604 13.3295V21H148.519V7.90909H151.468V10.1335H151.621C151.922 9.40057 152.402 8.81818 153.061 8.38636C153.726 7.95455 154.547 7.73864 155.525 7.73864C156.428 7.73864 157.215 7.93182 157.885 8.31818C158.561 8.70455 159.084 9.2642 159.453 9.99716C159.828 10.7301 160.013 11.6193 160.007 12.6648V21H156.922V13.142C156.922 12.267 156.695 11.5824 156.24 11.0881C155.792 10.5937 155.169 10.3466 154.374 10.3466C153.834 10.3466 153.354 10.4659 152.934 10.7045C152.519 10.9375 152.192 11.2756 151.953 11.7188C151.721 12.1619 151.604 12.6989 151.604 13.3295ZM169.681 7.90909V10.2955H162.155V7.90909H169.681ZM164.013 4.77273H167.098V17.0625C167.098 17.4773 167.161 17.7955 167.286 18.017C167.417 18.233 167.587 18.3807 167.797 18.4602C168.007 18.5398 168.24 18.5795 168.496 18.5795C168.689 18.5795 168.865 18.5653 169.025 18.5369C169.189 18.5085 169.314 18.483 169.4 18.4602L169.919 20.8722C169.755 20.929 169.519 20.9915 169.212 21.0597C168.911 21.1278 168.542 21.1676 168.104 21.179C167.331 21.2017 166.635 21.0852 166.016 20.8295C165.397 20.5682 164.905 20.1648 164.542 19.6193C164.184 19.0739 164.007 18.392 164.013 17.5739V4.77273Z"
        fill="#BCBCBC"
      />
      <defs>
        <clipPath id="clip0_308_16462">
          <rect width="24" height="24" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </a>

  <!-- Desktop Navigation -->
  <nav class="hidden lg:flex">
    <div class="flex space-x-4">
      <a 
        href="https://cloudagent.io" 
        class="flex h-9 w-max items-center justify-center rounded-md bg-white text-primary-600 px-4 py-2 text-md font-medium transition-colors hover:bg-primary-100 hover:text-primary-600 focus:bg-primary-100 focus:text-primary-600 focus:outline-none"
      >
        ← Back to CloudAgent
      </a>
      <HeaderLink href="/">Blog Home</HeaderLink>
    </div>
  </nav>

  <!-- Mobile Menu Button -->
  <button class="lg:hidden ml-auto p-2 text-primary-600 hover:text-primary-700">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
    </svg>
  </button>

  <!-- Desktop Auth Area -->
  <div class="hidden lg:flex ml-auto">
    <!-- Empty - no auth needed in blog -->
  </div>
</header>

<style>
  .text-primary-600 {
    color: #2A85C6;
  }
  .hover\:text-primary-700:hover {
    color: #1e73a8;
  }
  .bg-primary-100 {
    background-color: rgba(42, 133, 198, 0.1);
  }
  .hover\:bg-primary-100:hover {
    background-color: rgba(42, 133, 198, 0.1);
  }
  .bg-primary-600 {
    background-color: #2A85C6;
  }
  .hover\:bg-primary-700:hover {
    background-color: #1e73a8;
  }
  .border-primary-100 {
    border-color: rgba(42, 133, 198, 0.2);
  }
</style>